<div class="working-hours-card">
  <h3 class="working-hours-card__title">Часы работы</h3>
  <ul class="working-hours-card__list">
    <li><span style="font-weight: 700;">Пн  </span><span>{{monday}}</span></li>
    <li><span style="font-weight: 700;">Вт  </span><span>{{tuesday}}</span></li>
    <li><span style="font-weight: 700;">Ср  </span><span>{{wednesday}}</span></li>
    <li><span style="font-weight: 700;">Чт  </span><span>{{thursday}}</span></li>
    <li><span style="font-weight: 700;">Пт  </span><span>{{friday}}</span></li>
    <li><span style="font-weight: 700;">Сб  </span><span>{{saturday}}</span></li>
    <li><span style="font-weight: 700;">Вс  </span><span>{{sunday}}</span></li>
  </ul>
</div>