<article class="{{s 'card'}}">
  <a href="#">
    <img src="{{preview}}" class="{{s 'card__preview'}}">
  </a>

  <div class="{{s 'card__content'}}">
    <a href="#" class="{{s 'card__title'}}">{{title}}</a>

    <div class="{{s 'card__meta'}}">
      <div class="{{s 'card__date-wrapper'}}">
        <time class="{{s 'card__date-start'}}" datetime="{{isoStart}}">{{start}}</time> &ndash;
        <time class="{{s 'card__date-end'}}" datetime="{{isoEnd}}">{{end}}</time>
      </div>
      <span class="{{s 'card__location'}}">{{location}}</span>
    </div>
  </div>

  <button class="{{s 'card__options'}}" data-edit-button>
    <img src="/icons/more-horizontal.svg" class="{{s 'card__options-img'}}">
  </button>
</article>
